@{
    ViewBag.Title = "Quinten";
    ViewBag.Message = "This is a test message";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<p> This is a test for now</p>
<p> This is another test</p>

<p class="text-center"> This is an error.</p>

<p><a class="fa-link" href="http://www.test.co.za">Lest go somewhere &raquo;</a></p>